body {
    margin: 0px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Playfair Display', serif;

    background-image: url(../Pictures/lila.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}

#headerH2 {
    font-size: 40px;
    /* font-family: 'Great Vibes', cursive; */
    font-family: 'Pinyon Script', cursive;
    letter-spacing: 3px;
    margin: 0px;
    padding: 1px;
}

#firstH2OnPage {
    font-size: 45px;
    font-family: 'Pinyon Script', cursive;
    margin: 15px;
    text-align: center;
}

h1 {
    font-size: 45px;
    letter-spacing: 4px;
    font-weight: normal;
    margin: 10px;
}

#mainH4 {
    font-size: 20px;
    margin: 5px;
    margin-bottom: 25px;
    text-align: center;
}

#headerH3 {
    font-size: 30px;
    font-family: 'Pinyon Script', cursive;
}

#header {
    text-align: center;
    margin-top: 170px;
}

#topMeny {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#topMeny a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 15px;
    border-radius: 20px;
    transition: transform 0.4s ease;
    background-color: white;
}

#topMeny a:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#countdown {
    text-align: center;
    font-size: 20px;
    margin-top: 70px;
    margin-bottom: 30px;
    font-weight: bold;
    color: white;
    font-family: 'Playfair Display', serif;
}

#countdown span {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 15px;
    background: #a5d5af;
    border: 2px solid white;
    border-radius: 10px;
    width: 130px;
}

/* main */
#mainPageDiv {
    width: 750px;
    line-height: 2;
    margin: 50px auto;
}

.PelementCursive {
    font-style: italic;
}

.underlineOnDiv {
    border-bottom: 1px solid lightgrey;
}

.picInWeddingDiv {
    width: 200px;
    height: 200px;
    background-color: #debffa;
}

.divFlex {
    display: flex;
    gap: 15px;
    justify-content: center;
    padding: 30px 0px;
}

.divFlex a {
    color: black;

}

.divFlex p {
    margin: 2px;
}

/* Formulär */

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.person {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

label {
    display: block;
    margin-bottom: 8px;
}

button {
    background-color: #b68cb8;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #a36ca7;
}

#message {
    margin-top: 20px;
    font-weight: bold;
}